{
	"rules": {
		"no-undef": "off",
		"no-console": "warn" // Warn on console.log usage
	},
	"extends": ["plugin:react/recommended"],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true,
			"modules": true,
			"experimentalObjectRestSpread": true
		}
	}
}
